@use "../variables/variables";

:root {
  --header-height: 140px;

  // Fonts
  --font-stolzl: "Stolzl", sans-serif;

  --primary-font: #{variables.$font-stolzl};

  // Colors
  --color-white: #fff;
  --color-black: #000;

  --color-181818: #181818;
  --color-b2a388: #b2a388;
  --color-1c1a18: #1c1a18;
  --color-f5b430: #f5b430;
  --color-9e8b69: #9e8b69;
  --color-716b5f: #716b5f;
  --color-73716b: #73716b;
  --color-f6f5f2: #f6f5f2;
  --color-dad3c6: #dad3c6;
  --color-1d1d1d: #1d1d1d;
  --color-999999: #999;
  --color-46433b: #46433b;
  --color-eeebe5: #eeebe5;
  --color-fbfaf8: #fbfaf8;
  --color-c6bba7: #c6bba7;
  --color-9b9383: #9b9383;

  --color-white-alpha-60: rgba(255, 255, 255, 0.6);

  --primary-color: #{variables.$color-1c1a18};
  --active-color: #{variables.$color-9e8b69};
  --active-color-2: #{variables.$color-c6bba7};
  --accent-color: #{variables.$color-716b5f};
  --accent-color-2: #{variables.$color-f6f5f2};
  --accent-color-3: #{variables.$color-dad3c6};
  --label-color: #{variables.$color-73716b};
  --text-color: #{variables.$color-181818};

  --header-background-color: #{variables.$color-b2a388};
  --footer-text-color: #{variables.$color-white-alpha-60};
  --section-background-color: #{variables.$color-eeebe5};
  --breadcrumbs-active-color: #{variables.$color-9b9383};
  --tab-color: #{variables.$color-999999};
  --tab-active-color: #{variables.$color-1d1d1d};

  --logo-icon-main-color: currentColor;
  --logo-icon-line-color: #{variables.$color-f5b430};
  --counter-icon-color: #{variables.$color-46433b};
  --arrow-icon-color: #{variables.$color-fbfaf8};
}
