@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

body {
  font-family: variables.$font-primary;
  line-height: 1.6;
  color: variables.$color-primary;

  .scroll-lock & {
    overflow: hidden;
  }

  &::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgba($color: #1d1d1d, $alpha: 0.25);

    html:not(.scroll-lock) & {
      opacity: 0;
      visibility: hidden;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, visibility;
      transition-duration: 0.3s;
    }
  }
}
