@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.product {
  padding-block-end: functions.responsive-value(110, 20);

  @media (max-width: 768px) {
    padding-block-start: 8px;
  }

  // .product__container
  &__container {
    container-type: inline-size;
  }

  // .product__inner
  &__inner {
    display: grid;
    grid-template-columns: 100cqi;
    row-gap: 10px;
    column-gap: 40px;

    @media (min-width: #{768 + 0.1px}) {
      grid-template-columns: calc(50% - 20px) 1fr;
    }

    @media (min-width: #{992 + 0.1px}) {
      grid-template-columns: 1fr 400px;
    }
  }

  // .product__main
  &__main {
    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .product__header
  &__header {
    margin-block-end: 25px;

    @media (min-width: #{768 + 0.1px}) {
      display: none;
    }
  }

  // .product__slider
  &__slider {
    @media (min-width: #{768 + 0.1px}) {
      margin-block-end: 32px;
    }
  }

  // .product__button
  &__button {
    inline-size: fit-content;
    margin-block-start: 32px;
    margin-inline: auto;

    .product__slider:not(:has(.product-slider__slide:nth-child(6))) &,
    .product__slider:has(.product-slider--show) & {
      display: none;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  // .product__spoilers
  &__spoilers {
    .product__main & {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

.product-slider {
  &:not(.swiper) {
    @media (min-width: #{992 + 0.1px}) {
      container-type: inline-size;
    }
  }

  // .product-slider__wrapper
  &__wrapper {
    &:not(.swiper-wrapper) {
      display: grid;
      gap: 20px;

      @media (min-width: #{550 + 0.1px}) {
        @media (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (min-width: #{992 + 0.1px}) {
        grid-template-rows: calc(100cqi * 300px / 840px);
        grid-auto-rows: calc(100cqi * 300px / 840px);
        grid-template-columns: repeat(6, 1fr);
        grid-auto-flow: row dense;
      }
    }
  }

  // .product-slider__slide
  &__slide {
    .product-slider:not(.product-slider--show) & {
      &:not(:nth-child(-n + 5)) {
        @media (min-width: #{992 + 0.1px}) {
          display: none;
        }
      }
    }

    &:not(.swiper-slide) {
      @media (min-width: #{550 + 0.1px}) {
        @media (max-width: 768px) {
          &:not(:nth-child(-n + 2)) {
            display: none;
          }
        }
      }

      @media (min-width: #{768 + 0.1px}) {
        @media (max-width: 992px) {
          &:not(:first-child) {
            display: none;
          }
        }
      }

      @media (min-width: #{992 + 0.1px}) {
        grid-column: span 2;
        // block-size: 300px;
      }

      @media (max-width: 550px) {
        &:not(:first-child) {
          display: none;
        }
      }
    }

    // .product-slider__slide--big
    &--big {
      &:not(.swiper-slide) {
        @media (min-width: #{992 + 0.1px}) {
          grid-column: span 3;
        }
      }
    }

    @media (max-width: 992px) {
      aspect-ratio: 355 / 300;
    }
  }

  // .product-slider__image
  &__image {
    display: block;
    block-size: 100%;
  }

  // .product-slider__pagination
  &__pagination {
    margin-block-start: 16px;

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }
}

.product-spoilers {
  font-size: functions.responsive-value(14, 13);
  letter-spacing: 0.03em;

  // .product-spoilers__item
  &__item {
    border-block-end: 1px solid;
  }

  // .product-spoilers__title
  &__title {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  // .product-spoilers__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    inline-size: 100%;
    min-block-size: 64px;
    text-align: start;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-active;
    }
  }

  // .product-spoilers__label
  &__label {
  }

  // .product-spoilers__icon
  &__icon {
    position: relative;
    flex: 0 0 auto;
    inline-size: 16px;
    aspect-ratio: 1 / 1;
    font-size: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      inline-size: 100%;
      block-size: 2px;
      background-color: currentColor;
    }

    &::before {
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);

      .spoiler-active & {
        inline-size: 0;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: inline-size;
        transition-duration: 0.3s;
      }
    }
  }

  // .product-spoilers__region
  &__region {
  }

  // .product-spoilers__inner
  &__inner {
    padding-block-end: 20px;
  }

  // .product-spoilers__text
  &__text {
  }
}

.characteristics {
  // .characteristics__item
  &__item {
    &:not(:last-child) {
      margin-block-end: functions.responsive-value(26, 16);
    }
  }

  // .characteristics__title
  &__title {
    margin-block-end: 8px;
    font-size: 14px;
  }
}

.characteristics-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 8px;
  column-gap: functions.responsive-value(10, 16);

  // .characteristics-list__item
  &__item {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
    align-items: center;
  }

  // .characteristics-list__label
  &__label {
    color: variables.$color-label;
  }

  // .characteristics-list__text
  &__text {
  }
}

.certificates {
  // .certificates__item
  &__item {
    &:not(:last-child) {
      margin-block-end: 10px;
    }
  }

  // .certificates__link
  &__link {
  }
}

.certificate-link {
  display: flex;
  align-items: center;
  gap: 16px;
  inline-size: fit-content;
  padding-block: 5px;
  text-align: start;

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-active;
  }

  // .certificate-link__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }

  // .certificate-link__text
  &__text {
  }
}

.product-content {
  container-type: inline-size;
  user-select: none;

  > *:last-child {
    margin-block-end: 0;
  }

  // .product-content__header
  &__header {
    margin-block-end: 17px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  // .product-content__item
  &__item {
    &:not(:last-child) {
      padding-block: 24px;

      @media (max-width: 768px) {
        border-block-end: 1px solid variables.$color-accent-3;
      }
    }

    @media (min-width: #{768 + 0.1px}) {
      border-block-start: 1px solid variables.$color-accent-3;
    }

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .product-content__form
  &__form {
    margin-block-end: functions.responsive-value(40, 32);
  }

  // .product-content__services
  &__services {
  }

  // .product-content__image
  &__image {
    margin-block-start: functions.responsive-value(40, 32);
    aspect-ratio: 400 / 300;
    font-size: 0;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.product-header {
  > *:last-child {
    margin-block-end: 0;
  }

  // .product-header__title
  &__title {
    margin-block-end: 9px;
    font-size: functions.responsive-value(24, 20);
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-wrap: balance;
    text-transform: uppercase;
    color: variables.$color-text;

    @media (min-width: #{768 + 0.1px}) {
      letter-spacing: 0.02em;
    }
  }

  // .product-header__id
  &__id {
  }
}

.product-id {
  position: relative;
  display: flex;
  align-items: center;
  inline-size: fit-content;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: variables.$color-accent;

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @media (hover: hover) {
    &:has(.product-id__button:hover) {
      color: variables.$color-primary;
    }
  }

  &--copied {
    pointer-events: none;

    &::after {
      content: attr(data-copy-text);
      color: variables.$color-logo-icon-line;
    }
  }

  // .product-id__text
  &__text {
  }

  // .product-id__button
  &__button {
    flex: 0 0 auto;
    font-size: 0;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }
}

.product-purposes {
  display: grid;
  grid-template-columns: calc(100cqi - 36px) 1fr;

  @media (min-width: #{768 + 0.1px}) {
    &:not(:has(.purpose-slider:nth-child(1) .purpose-slider__slide:nth-child(1))),
    &:not(:has(.purpose-slider:nth-child(2) .purpose-slider__slide:nth-child(1))) {
      grid-template-columns: auto calc(100cqi - 72px) auto;

      &:has(.purposes-arrows__button.swiper-button-disabled) {
        grid-template-columns: auto calc(100cqi - 36px) auto;
      }

      &:has(.purposes-arrows__button--prev.swiper-button-disabled):has(
          .purposes-arrows__button--next.swiper-button-disabled
        ) {
        grid-template-columns: auto 100cqi auto;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: grid-template-columns;
        transition-duration: 0.3s;
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: auto calc(100cqi - 72px) auto;

    &:has(.purposes-arrows__button.swiper-button-disabled) {
      grid-template-columns: auto calc(100cqi - 36px) auto;
    }

    &:has(.purposes-arrows__button--prev.swiper-button-disabled):has(
        .purposes-arrows__button--next.swiper-button-disabled
      ) {
      grid-template-columns: auto 100cqi auto;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: grid-template-columns;
      transition-duration: 0.3s;
    }
  }

  // .product-purposes__inner
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  // .product-purposes__slider
  &__slider {
  }

  // .product-purposes__arrows
  &__arrows {
  }
}

.purpose-slider {
  &:not(:has(.purpose-slider__slide:nth-child(1))) {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    border: none;
    outline: none;
    outline-offset: 0;

    > * {
      display: none;
    }
  }

  // .purpose-slider--hide
  &--hide {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .product-purposes:not(
      :has(.purposes-arrows__button--prev.swiper-button-disabled):has(
          .purposes-arrows__button--next.swiper-button-disabled
        )
    )
    &.purpose-slider--layer {
    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
      background-image: linear-gradient(
        to var(--direction, right),
        rgba($color: #f6f5f2, $alpha: 0) 80%,
        rgba($color: #f6f5f2, $alpha: 0.9) 90%,
        rgba($color: #f6f5f2, $alpha: 1)
      );
      pointer-events: none;

      @include mixins.prefers-reduced-motion {
        transition-property: opacity;
        transition-duration: 0.3s;
      }
    }
  }

  &::before {
    --direction: left;

    .product-purposes:not(:has(.purposes-arrows__button--next.swiper-button-disabled)) & {
      opacity: 0;
    }
  }

  &::after {
    --direction: right;

    .product-purposes:not(:has(.purposes-arrows__button--prev.swiper-button-disabled)) & {
      opacity: 0;
    }
  }

  // .purpose-slider__wrapper
  &__wrapper {
  }

  // .purpose-slider__slide
  &__slide {
    inline-size: fit-content;

    &[data-placeholder] {
      @media (min-width: #{768 + 0.1px}) {
        display: none;
      }
    }
  }
}

.product-top {
  display: grid;
  grid-template-rows: 300px;
  gap: 20px;

  @media (min-width: #{1200 + 0.1px}) {
    grid-template-columns: repeat(2, 1fr);
  }

  // .product-top__image
  &__image {
    font-size: 0;
  }

  // .product-top__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
    padding: functions.responsive-value(40, 20);
    background-color: variables.$color-accent-2;

    @media (max-width: 768px) {
      display: none;
    }
  }

  // .product-top__text
  &__text {
    font-family: variables.$font-secondary;
    font-size: functions.responsive-value(16, 14);
    line-height: 1.5;
    text-wrap: balance;
    color: variables.$color-text;
  }
}

.purpose {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-block-size: 36px;
  padding-block: 5px;
  padding-inline: 16px;
  font-size: 12px;
  text-align: start;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: variables.$color-accent-2;

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-white;
    background-color: variables.$color-active;
  }

  // .purpose__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }

  // .purpose__text
  &__text {
  }
}

.purposes-arrows {
  display: contents;

  @media (min-width: #{768 + 0.1px}) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0;

    .product-purposes:not(:has(.purpose-slider:nth-child(1) .purpose-slider__slide:nth-child(1))) &,
    .product-purposes:not(:has(.purpose-slider:nth-child(2) .purpose-slider__slide:nth-child(1))) & {
      display: contents;
    }
  }

  // .purposes-arrows__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: 36px;
    block-size: 36px;
    text-align: center;
    overflow: hidden;

    &:not(.swiper-button-disabled) {
      cursor: pointer;

      @include mixins.hover {
        color: variables.$color-active;
      }
    }

    &.swiper-button-disabled {
      color: variables.$color-accent-3;

      @media (min-width: #{768 + 0.1px}) {
        .product-purposes:not(:has(.purpose-slider:nth-child(1) .purpose-slider__slide:nth-child(1))) &,
        .product-purposes:not(:has(.purpose-slider:nth-child(2) .purpose-slider__slide:nth-child(1))) & {
          inline-size: 0;
        }
      }

      @media (max-width: 768px) {
        inline-size: 0;
      }
    }

    // .purposes-arrows__button--prev
    &--prev {
      @media (min-width: #{768 + 0.1px}) {
        .product-purposes:not(:has(.purpose-slider:nth-child(1) .purpose-slider__slide:nth-child(1))) &,
        .product-purposes:not(:has(.purpose-slider:nth-child(2) .purpose-slider__slide:nth-child(1))) & {
          order: -1;
        }
      }

      @media (max-width: 768px) {
        order: -1;
      }
    }

    // .purposes-arrows__button--next
    &--next {
      @media (min-width: #{768 + 0.1px}) {
        .product-purposes:not(:has(.purpose-slider:nth-child(1) .purpose-slider__slide:nth-child(1))) &,
        .product-purposes:not(:has(.purpose-slider:nth-child(2) .purpose-slider__slide:nth-child(1))) & {
          order: 1;
        }
      }

      @media (max-width: 768px) {
        order: 1;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: inline-size, color;
      transition-duration: 0.3s;
    }
  }
}

.product-form {
  // .product-form__item
  &__item {
    padding-block: 24px;

    &:not(:last-child) {
      border-block-end: 1px solid variables.$color-accent-3;
    }

    &:last-child {
      padding-block-end: 0;
    }
  }

  // .product-form__sum
  &__sum {
    margin-block-end: 24px;
  }

  // .product-form__buttons
  &__buttons {
    display: flex;
    align-items: center;
    row-gap: 8px;
    column-gap: 4px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  // .product-form__button
  &__button {
    flex: 1 1 auto;

    @media (min-width: #{768 + 0.1px}) {
      padding-inline: 0;
    }
  }
}

.product-radios {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-block-end: 32px;
  font-size: 0;

  // .product-radios__item
  &__item {
    flex: 0 0 auto;
  }
}

.product-radio {
  position: relative;

  &:has(.product-radio__icon--active) {
    &::after {
      background-color: currentColor;
    }
  }

  @media (hover: hover) {
    &:has(.product-radio__icon:hover) {
      &::after {
        background-color: currentColor;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset-block-start: calc(100% + 6px);
    inset-inline: 0;
    block-size: 2px;
    pointer-events: none;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }
  }

  // .product-radio__icon
  &__icon {
    display: block;
    inline-size: 30px;
    aspect-ratio: 1 / 1;

    // .product-radio__icon--active
    &--active {
    }

    @media (min-width: #{350 + 0.1px}) {
      inline-size: 48px;
    }
  }
}

.product-calc {
  // .product-calc__tabs
  &__tabs {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-block-end: 18.5px;
    margin-inline: -10px;
    padding-block-end: 6.5px;
    padding-inline: 10px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: variables.$color-tab;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // .product-calc__button
  &__button {
    text-decoration: 2px underline rgba($color: #999, $alpha: 0);
    text-underline-offset: 7.5px;
    white-space: nowrap;

    &:not(.active) {
      @include mixins.hover {
        color: variables.$color-active;
      }
    }

    &.active {
      color: variables.$color-tab-active;
      text-decoration-color: currentColor;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color, text-decoration-color;
      transition-duration: 0.3s;
    }
  }

  // .product-calc__panels
  &__panels {
  }

  // .product-calc__panel
  &__panel {
  }

  // .product-calc__counters
  &__counters {
  }

  // .product-calc__price
  &__price {
    margin-block-start: 24px;
  }
}

.product-counters {
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-columns: functions.responsive-value(200, 173.5);
  align-items: center;
  row-gap: 4px;
  column-gap: 8px;
  line-height: 1.2;
  text-align: center;

  @media (min-width: #{365 + 0.1px}) {
  }

  &:has(.product-counters__item:nth-child(2 of .product-counters__item)) {
    grid-template-columns: 1fr auto 1fr;

    @media (min-width: #{365 + 0.1px}) {
      grid-template-columns: 1fr auto 1fr auto 1fr;
    }

    @media (max-width: 365px) {
      grid-template-rows: 40px auto auto 40px auto;
    }
  }

  // .product-counters__item
  &__item {
    display: grid;
    grid-template-rows: subgrid;
    align-items: center;
    grid-row: span 2;

    // .product-counters__item--row
    &--row {
      @media (max-width: 365px) {
        grid-column: span 3;
      }
    }
  }

  // .product-counters__label
  &__label {
    order: 1;
    font-size: 11px;
    line-height: 1.53;
  }

  // .product-counters__br
  &__br {
    // .product-counters__br--hide
    &--hide {
      @media (max-width: 365px) {
        display: none;
      }
    }
  }

  // .product-counters__inner
  &__inner {
  }

  // .product-counters__symbol
  &__symbol {
    font-size: 16px;
    color: variables.$color-46433b;

    // .product-counters__symbol--row
    &--row {
      @media (max-width: 365px) {
        grid-column: span 3;
      }
    }
  }
}

.counter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 40px;
  padding-block: 5px;
  padding-inline: 8px;
  font-size: 14px;
  border: 1px solid;

  &:has(.counter__input:focus) {
    border-color: variables.$color-active;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: border-color;
    transition-duration: 0.3s;
  }

  // .counter__select
  &__select {
    appearance: none;
    position: absolute;
    inset: 0;
    display: block;
    align-content: center;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: middle;
    color: inherit;
    background: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%2346433B' stroke-width='1.6' d='M12.24 6.74 8 11 3.76 6.74'/%3E%3C/svg%3E%0A");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    outline: none;
    cursor: pointer;
  }

  // .counter__button
  &__button {
    flex: 0 0 auto;
    font-size: 0;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-active;
    }
  }

  // .counter__input
  &__input {
    text-align: inherit;
  }

  // .counter__output
  &__output {
  }
}

.calc-price {
  display: flex;
  align-items: baseline;
  gap: 4px;
  line-height: 1.2;

  // .calc-price__label
  &__label {
    font-size: 12px;
  }

  // .calc-price__values
  &__values {
    display: flex;
    align-items: start;
    gap: 4px;
  }

  // .calc-price__item
  &__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;

    // .calc-price__item--old
    &--old {
      font-size: 10px;
      text-decoration: line-through;
      color: variables.$color-accent;
    }
  }

  // .calc-price__value
  &__value {
  }

  // .calc-price__currency
  &__currency {
  }
}

.product-sum {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 4px;
  line-height: 1.2;
  color: variables.$color-text;

  // .product-sum__label
  &__label {
    font-size: 16px;
  }

  // .product-sum__values
  &__values {
    display: flex;
    align-items: start;
    gap: 4px;
  }

  // .product-sum__item
  &__item {
    display: flex;
    align-items: baseline;
    font-size: functions.responsive-value(26, 22);

    // .product-sum__item--old
    &--old {
      font-size: functions.responsive-value(16, 14);
      text-decoration: line-through;
      color: variables.$color-accent;
    }
  }

  // .product-sum__value
  &__value {
  }

  // .product-sum__currency
  &__currency {
    .product-sum__item:not(.product-sum__item--old) & {
      font-size: functions.responsive-value(22, 18);
    }
  }
}

.product-services {
  display: grid;
  gap: 8px;
  font-size: 12px;
  text-transform: uppercase;

  @media (min-width: #{360 + 0.1px}) {
    grid-template-columns: repeat(2, 1fr);
  }

  // .product-services__item
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    min-block-size: 48px;
    padding-block: 5px;
    padding-inline: 24px;
    text-align: start;
    background-color: variables.$color-accent-2;

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-white;
      background-color: variables.$color-active;
    }
  }

  // .product-services__text
  &__text {
  }

  // .product-services__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }
}
