@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.similar {
  padding-block: functions.responsive-value(80, 40) functions.responsive-value(8, 48);

  // .similar__container
  &__container {
  }

  // .similar__title
  &__title {
    margin-block-end: functions.responsive-value(24, 16);
  }
}

.similar-slider {
  user-select: text;

  @media (max-width: 550px) {
    overflow: visible;
  }

  // .similar-slider__wrapper
  &__wrapper {
  }

  // .similar-slider__slide
  &__slide {
  }
}

.product-card {
  display: flex;
  flex-direction: column;

  > *:last-child {
    margin-block-end: 0;
  }

  // .product-card__slider
  &__slider {
    margin-block-end: 16px;
  }

  // .product-card__header
  &__header {
    min-block-size: 81.6px;
    margin-block-end: 13px;

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .product-card__title
  &__title {
    &,
    > * {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      display: -webkit-box;

      block-size: 3lh;
      overflow: hidden;
    }

    margin-block-end: 4px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: variables.$color-text;

    a {
      @include mixins.prefers-reduced-motion {
        transition-property: color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-active;
      }
    }
  }

  // .product-card__info
  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 1 auto;
    min-block-size: 72.4px;
    margin-block-end: 16px;
  }

  // .product-card__prices
  &__prices {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 4px;
  }

  // .product-card__brand
  &__brand {
    margin-block-start: auto;
    font-family: variables.$font-secondary;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-active;
    }
  }

  // .product-card__buttons
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  // .product-card__cart
  &__cart {
    inline-size: 100%;
  }

  // .product-card__buy
  &__buy {
    margin-inline: auto;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    color: variables.$color-active;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-primary;
    }
  }
}

.product-card-slider {
  // .product-card-slider__wrapper
  &__wrapper {
    block-size: auto;
  }

  // .product-card-slider__slide
  &__slide {
    aspect-ratio: 1 / 1;
  }

  // .product-card-slider__pagination
  &__pagination {
    min-block-size: 4px;
    margin-block-start: 8px;
  }
}

.product-price {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4px;
  line-height: 1.2;

  .product-card__prices & {
    grid-template-columns: subgrid;
    grid-column: span 2;
  }

  // .product-price__label
  &__label {
    font-family: variables.$font-secondary;
    font-size: 12px;
  }

  // .product-price__value
  &__value {
    text-transform: uppercase;

    &[data-old-price] {
      position: relative;
      isolation: isolate;
      inline-size: fit-content;

      &::after {
        content: attr(data-old-price);
        position: absolute;
        inset-block-start: 1px;
        inset-inline-start: calc(100% + 4px);
        z-index: 1;
        font-family: variables.$font-secondary;
        font-size: 10px;
        line-height: 1.2;
        text-transform: uppercase;
        text-decoration: line-through;
        white-space: nowrap;
        color: variables.$color-accent;
      }
    }
  }

  // .product-price__unit
  &__unit {
    font-weight: 500;
    font-size: 10px;
  }
}
