@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-block-size: 48px;
  padding-block: 5px;
  padding-inline: 24px;
  font-family: variables.$font-text;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: variables.$color-primary;
  border: 1px solid variables.$color-primary;
  border-radius: 100px;

  &:not(&--transparent) {
    --outline-color: #{variables.$color-primary};

    color: variables.$color-white;
    background-color: variables.$color-primary;
  }

  // .button--transparent
  &--transparent {
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-white;
    background-color: variables.$color-active;
    border-color: variables.$color-active;
  }

  // .button__text
  &__text {
  }

  // .button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }
}
