@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.h2 {
  font-size: functions.responsive-value(28, 26);
  line-height: var(--h2-line-height, 1.1);
  letter-spacing: var(--h2-letter-spacing);
  text-transform: uppercase;
  color: variables.$color-text;

  // .h2--ls
  &--ls {
    --h2-letter-spacing: 0.02em;
  }
}
