@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.up {
  position: fixed;
  inset-block-end: 10px;
  inset-inline-end: 10px;
  z-index: 25;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 40px;
  aspect-ratio: 1 / 1;
  font-size: 0;
  text-align: center;
  background-color: variables.$color-white;
  box-shadow: 0 0 0 2px variables.$color-white;
  border: 2px solid;
  transform: translateX(calc(var(--scrollbar-width, 0px) * -1));

  html:not(.scrolled) & {
    opacity: 0;
    visibility: hidden;
  }

  &:focus-visible {
    box-shadow: none;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color, box-shadow, border-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-white;
    background-color: variables.$color-active;
    border-color: variables.$color-active;
  }

  svg {
  }
}
