@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.up {
  // --button-outline-color: ;
  // --button-gap: ;
  --button-width: 38px;
  // --button-min-width: ;
  // --button-max-width: ;
  // --button-min-height: ;
  // --button-padding-block: ;
  // --button-padding-inline: ;
  // --button-font-family: ;
  // --button-font-weight: ;
  // --button-font-style: ;
  --button-font-size: 0;
  // --button-line-height: ;
  // --button-color: ;
  // --button-background-color: ;
  // --button-border-width: ;
  // --button-border-color: ;
  // --button-border-radius: ;
  --button-transition-property: opacity, visibility;
  // --button-color-hover: ;
  // --button-background-color-hover: ;
  // --button-border-color-hover: ;

  position: fixed;
  inset-block-end: #{variables.$padding + px};
  inset-inline-end: #{variables.$padding + px};
  z-index: 25;
  aspect-ratio: 1 / 1;

  html:not(.scrolled) & {
    opacity: 0;
    visibility: hidden;
  }

  svg {
  }
}
