@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.catalog {
  padding-block-end: functions.responsive-value(40, 32);

  // .catalog__container
  &__container {
  }

  // .catalog__header
  &__header {
    margin-block-end: functions.responsive-value(24, 16);
  }

  // .catalog__inner
  &__inner {
    @media (min-width: #{992 + 0.1px}) {
      display: grid;
      grid-template-columns: 290px 1fr;
      align-items: start;
      gap: 32px;
    }
  }
}

.catalog-header {
  // .catalog-header__title
  &__title {
    margin-block-end: 20px;

    @media (min-width: #{768 + 0.1px}) {
      --h2-line-height: 1.2;
    }

    @media (max-width: 768px) {
      --h2-letter-spacing: 0.02em;
    }
  }
}

.catalog-tabs {
  // .catalog-tabs__buttons
  &__buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-block-end: 15.5px;
    padding-block-end: 9.5px;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: hidden;

    @media (max-width: 768px) {
      margin-inline: -10px;
      padding-inline: 10px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // .catalog-tabs__buttons-item
  &__buttons-item {
  }

  // .catalog-tabs__button
  &__button {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-decoration: 2px underline rgba($color: #000000, $alpha: 0);
    text-decoration-skip-ink: none;
    text-underline-offset: 7.5px;
    white-space: nowrap;
    color: variables.$color-breadcrumbs-active;

    &.active {
      text-decoration-color: currentColor;
      color: variables.$color-tab-active;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: text-decoration-color, color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-tab-active;
    }
  }

  // .catalog-tabs__panels
  &__panels {
  }

  // .catalog-tabs__panel
  &__panel {
  }

  // .catalog-tabs__tags
  &__tags {
    @media (max-width: 768px) {
      margin-inline: -10px;
    }
  }
}

.catalog-tags {
  display: flex;
  align-items: center;
  gap: 8px;

  @media (min-width: #{768 + 0.1px}) {
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    padding-inline: 10px;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &::-webkit-scrollbar {
    @media (max-width: 768px) {
      display: none;
    }
  }

  // .catalog-tags__item
  &__item {
  }

  // .catalog-tags__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: 36px;
    padding-block: 5px;
    padding-inline: 16px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    background-color: variables.$color-accent-2;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-active-2;
    }
  }
}

.catalog-filter {
  @media (max-width: 992px) {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
    z-index: 150;
    inline-size: 100%;
    max-inline-size: 375px;
    padding-inline: 10px;
    background-color: variables.$color-white;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: auto;

    &:not(&--active) {
      transform: translateX(-100%);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: transform;
      transition-duration: 0.3s;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // .catalog-filter--active
  &--active {
    body:has(&) {
      @media (max-width: 992px) {
        overflow: hidden;

        &::before {
          content: "";
          position: fixed;
          inset: 0;
          z-index: 149;
          background-color: rgba($color: #000000, $alpha: 0.5);
        }
      }
    }
  }
}

.filter-header {
  display: flex;
  align-items: center;
  gap: 8px;
  min-block-size: 40px;
  padding-block: 5px;

  @media (min-width: #{992 + 0.1px}) {
    min-block-size: 44px;
  }

  @media (max-width: 992px) {
    position: sticky;
    inset-block-start: 0;
    z-index: 1;
    background-color: variables.$color-white;
  }

  // .filter-header__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }

  // .filter-header__close
  &__close {
    flex: 0 0 auto;
    margin-inline-start: auto;
    font-size: 0;
    color: variables.$color-accent;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-active-2;
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }
}

.filter-title {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: variables.$color-tab-active;

  @media (min-width: #{992 + 0.1px}) {
    font-size: 18px;
    line-height: 1.1;
  }

  // .filter-title__text
  &__text {
    // .filter-title__text--desktop
    &--desktop {
      @media (max-width: 992px) {
        display: none;
      }
    }

    // .filter-title__text--mobile
    &--mobile {
      @media (min-width: #{992 + 0.1px}) {
        display: none;
      }
    }
  }
}

.filter-form {
  display: grid;
  gap: 8px;

  // .filter-form__spoilers
  &__spoilers {
    display: grid;
    gap: 8px;
  }

  // .filter-form__bottom
  &__bottom {
    position: sticky;
    inset-block-end: 0;
    z-index: 1;
    padding-block: 8px 20px;
    background-color: variables.$color-white;

    &:has(.filter-form__button:disabled) {
      display: none;
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }

  // .filter-form__button
  &__button {
    inline-size: 100%;
  }
}

.filter-fieldset {
  // .filter-fieldset__legend
  &__legend {
    margin-block-end: 4px;
  }

  // .filter-fieldset__prices
  &__prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  // .filter-fieldset__input
  &__input {
    block-size: 40px;
    padding-inline: 4px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    border: 1px solid;

    &::placeholder {
      color: variables.$color-accent;
    }
  }

  // .filter-fieldset__region
  &__region {
  }

  // .filter-fieldset__inner
  &__inner {
    display: grid;
    gap: 8px;
  }
}

.filter-legend {
  display: flex;
  align-items: center;
  inline-size: 100%;
  min-block-size: 44px;
  padding-block: 5px;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #2d3843;

  // .filter-legend__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    inline-size: 100%;
    min-block-size: 34px;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-active;

      .filter-legend__icon {
        color: variables.$color-active;
      }
    }
  }

  // .filter-legend__label
  &__label {
  }

  // .filter-legend__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-tab-active;

    .spoiler-active & {
      transform: rotate(180deg);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color, transform;
      transition-duration: 0.3s;
    }
  }
}

.filter-checkboxes {
  display: grid;
  gap: 8px;
}

.filter-checkbox {
  appearance: none;
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 3px;
  font-family: variables.$font-secondary;
  font-size: 14px;
  line-height: 1.3;
  cursor: pointer;

  .filter-checkboxes:not(:has(+ .filter-more--active)) &:nth-child(n + 4) {
    display: none;
  }

  &:checked {
    &::before {
      background-color: variables.$color-active-2;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 10'%3E%3Cpath fill='%23fff' d='M11.9902 2.00008L10.5802 0.580078L3.99023 7.17008L1.41023 4.60008L-0.00976562 6.01008L3.99023 10.0001L11.9902 2.00008Z'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px 10px;
    }
  }

  &:focus-visible {
    outline: 2px solid;
    outline-offset: 2px;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-active;
    outline: none;
  }

  &::before {
    content: "";
    flex: 0 0 auto;
    inline-size: 18px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    background-color: variables.$color-accent-2;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }
  }

  &::after {
    content: attr(aria-label);
  }
}

.filter-more {
  display: flex;
  align-items: center;
  gap: 8px;
  min-block-size: 44px;
  padding-block: 5px;
  font-size: 14px;
  line-height: 1.5;

  // .filter-more--active
  &--active {
  }

  .filter-checkboxes:not(:has(.filter-checkbox:nth-child(4))) + & {
    display: none;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-active;
  }

  // .filter-more__text
  &__text {
  }

  // .filter-more__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;

    .filter-more--active & {
      transform: rotate(180deg);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: transform;
      transition-duration: 0.3s;
    }
  }
}

.catalog-content {
  @media (min-width: #{992 + 0.1px}) {
    overflow: hidden;
  }

  // .catalog-content__actions
  &__actions {
    margin-block-end: functions.responsive-value(16, 12);
  }

  // .catalog-content__products
  &__products {
    margin-block-end: 64px;
  }
}

.catalog-actions {
  // .catalog-actions__top
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  // .catalog-actions__form
  &__form {
    margin-inline-start: auto;
  }

  // .catalog-actions__selected
  &__selected {
    margin-block-start: 16px;

    @media (max-width: 992px) {
      margin-inline: -10px;
    }
  }
}

.filter-button {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: variables.$color-tab-active;

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-active;
  }

  @media (min-width: #{992 + 0.1px}) {
    display: none;
  }

  // .filter-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }

  // .filter-button__text
  &__text {
  }
}

.actions-form {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;

  // .actions-form__label
  &__label {
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: variables.$color-tab-active;

    @media (max-width: 992px) {
      position: absolute;
      inline-size: 1px;
      block-size: 1px;
      margin: -1px;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
      white-space: nowrap;
      border: none;
      outline: none;
      outline-offset: 0;
    }
  }

  // .actions-form__select
  &__select {
    appearance: none;
    display: block;
    inline-size: 187px;
    min-inline-size: auto;
    padding-block: 0;
    padding-inline: 16px 40px;
    block-size: 40px;
    min-block-size: auto;
    font-family: inherit;
    font-size: 14px;
    line-height: 1;
    text-overflow: ellipsis;
    color: #2d3843;
    background-color: variables.$color-white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%231c1a18' d='M18.2951 9.70498L16.8851 8.29498L12.2951 12.875L7.70507 8.29498L6.29507 9.70498L12.2951 15.705L18.2951 9.70498Z'/%3E%3C/svg%3E%0A");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: 1px solid variables.$color-primary;
    border-radius: 0;
    outline: none;
    cursor: pointer;

    @media (max-width: 992px) {
      position: absolute;
      inline-size: 1px;
      block-size: 1px;
      margin: -1px;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
      white-space: nowrap;
      border: none;
      outline: none;
      outline-offset: 0;
    }
  }

  // .actions-form__button
  &__button {
    flex: 0 0 auto;
    font-size: 0;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-active;
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }
}

.custom-select {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-end: -10px;
  z-index: 2;
  display: grid;
  gap: 4px;
  inline-size: min(100vw, 375px);
  padding-block-end: 8px;
  background-color: variables.$color-white;

  .actions-form__button:not(.actions-form__button--active) + & {
    visibility: hidden;
    opacity: 0;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: visibility, opacity;
    transition-duration: 0.3s;
  }

  @media (min-width: #{992 + 0.1px}) {
    display: none;
  }

  // .custom-select__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-block-size: 40px;
    gap: 16px;
    padding-block: 5px;
    padding-inline: 16px;
  }

  // .custom-select__title
  &__title {
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: variables.$color-tab-active;
  }

  // .custom-select__close
  &__close {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-accent;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-active-2;
    }
  }

  // .custom-select__options
  &__options {
    display: grid;
    gap: 4px;
  }

  // .custom-select__option
  &__option {
    display: flex;
    align-items: center;
    min-block-size: 40px;
    padding-block: 5px;
    padding-inline: 16px;
    font-family: variables.$font-secondary;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    text-align: start;
    color: #2d3843;

    &:not(&--selected) {
      @include mixins.prefers-reduced-motion {
        transition-property: color, background-color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-white;
        background-color: variables.$color-active-2;
      }
    }

    // .custom-select__option--selected
    &--selected {
      font-family: variables.$font-primary;
      background-color: variables.$color-accent-2;
    }
  }
}

.filter-selected {
  display: flex;
  align-items: center;
  gap: 8px;
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;

  @media (min-width: #{992 + 0.1px}) {
    display: none;
  }

  @media (max-width: 992px) {
    padding-inline: 10px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  // .filter-selected__item
  &__item {
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    gap: 4px;
    min-block-size: 36px;
    padding-block: 5px;
    padding-inline: 12px;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    border: 1px solid;
    border-radius: 100px;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-active-2;
    }
  }

  // .filter-selected__text
  &__text {
  }

  // .filter-selected__remove
  &__remove {
    flex: 0 0 auto;
    font-size: 0;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 100px;
    }
  }
}

.catalog-products {
  // .catalog-products__list
  &__list {
    margin-block-end: functions.responsive-value(48, 40);
  }

  // .catalog-products__bottom
  &__bottom {
    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .catalog-products__pagination
  &__pagination {
    margin-block-end: functions.responsive-value(16, 24);
  }
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(functions.responsive-value(224.5, 173.5), 1fr));
  grid-auto-flow: dense;
  row-gap: functions.responsive-value(24, 16);
  column-gap: functions.responsive-value(20, 8);

  @media (min-width: #{992 + 0.1px}) {
    grid-template-columns: repeat(auto-fill, minmax(224.5px, 1fr));
  }

  // .catalog-list__item
  &__item {
    // .catalog-list__item--ads
    &--ads {
      grid-column: 1 / -1;
    }
  }
}

.ads-card {
  @media (min-width: #{768 + 0.1px}) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  // .ads-card__image
  &__image {
    font-size: 0;

    @media (max-width: 768px) {
      aspect-ratio: 355 / 200;
    }
  }

  // .ads-card__inner
  &__inner {
    padding: functions.responsive-value(12, 8);
    background-color: variables.$color-accent-2;
  }

  // .ads-card__header
  &__header {
    margin-block-end: functions.responsive-value(23, 16);
  }
}

.ads-header {
  position: relative;
  isolation: isolate;
  display: flex;
  justify-content: end;

  // .ads-header__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 4px;
    padding-inline: 8px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: variables.$color-black;
    background-color: variables.$color-tag;

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-white;
      background-color: variables.$color-active;
    }
  }
}

.ads-advertiser {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-end: 0;
  z-index: 1;
  display: grid;
  gap: 16px;
  padding: 24px;
  background-color: variables.$color-tag;
  box-shadow:
    0 8px 8px -4px rgba(16, 24, 40, 0.03),
    0 20px 24px -4px rgba(16, 24, 40, 0.08);

  .ads-header__button:not(.ads-header__button--active) + & {
    visibility: hidden;
    opacity: 0;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: visibility, opacity;
    transition-duration: 0.3s;
  }

  // .ads-advertiser__top
  &__top {
    display: grid;
    gap: 8px;
    padding-block-end: 16px;
    border-block-end: 1px solid #d6d3cc;
  }

  // .ads-advertiser__title
  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: variables.$color-accent;
  }

  // .ads-advertiser__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }

  // .ads-advertiser__text
  &__text {
    font-family: variables.$font-secondary;
    font-size: 14px;
    line-height: 1.3;
  }

  // .ads-advertiser__label
  &__label {
    padding-inline-start: 32px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: variables.$color-black;
  }

  // .ads-advertiser__button
  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: variables.$color-accent;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-primary;
    }
  }
}

.ads-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-block-end: functions.responsive-value(20, 8);
  padding-inline: functions.responsive-value(20, 8);

  // .ads-content__title
  &__title {
    margin-block-end: functions.responsive-value(16, 12);
    font-size: functions.responsive-value(20, 18);
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: variables.$color-text;
  }

  // .ads-content__text
  &__text {
    margin-block-end: functions.responsive-value(23, 16);
    font-size: 14px;
    line-height: 1.5;
    color: variables.$color-text;
  }
}

.count-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;

  // .count-form__label
  &__label {
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: variables.$color-tab-active;
  }

  // .count-form__select
  &__select {
    appearance: none;
    display: block;
    inline-size: 80px;
    min-inline-size: auto;
    padding-block: 0;
    padding-inline: 16px 40px;
    block-size: 40px;
    min-block-size: auto;
    font-family: inherit;
    font-size: 14px;
    line-height: 1;
    text-overflow: ellipsis;
    color: #2d3843;
    background-color: variables.$color-white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%231c1a18' d='M18.2951 9.70498L16.8851 8.29498L12.2951 12.875L7.70507 8.29498L6.29507 9.70498L12.2951 15.705L18.2951 9.70498Z'/%3E%3C/svg%3E%0A");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: 1px solid variables.$color-primary;
    border-radius: 0;
    outline: none;
    cursor: pointer;
  }
}

.catalog-text {
  color: variables.$color-text;

  > *:last-child {
    margin-block-end: 0;
  }

  > div {
    &:not(:last-child) {
      margin-block-end: 32px;
    }

    > *:last-child {
      margin-block-end: 0;
    }

    > div {
      &:not(:last-child) {
        margin-block-end: 20px;
      }
    }
  }

  h2 {
    margin-block-end: 1em;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  h3 {
    margin-block-end: 4px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }

  p {
    font-family: variables.$font-secondary;
    font-size: 14px;
    line-height: 1.5;
  }
}
