$color-white: var(--color-white);
$color-black: var(--color-black);

$color-181818: var(--color-181818);
$color-b2a388: var(--color-b2a388);
$color-1c1a18: var(--color-1c1a18);
$color-f5b430: var(--color-f5b430);
$color-9e8b69: var(--color-9e8b69);
$color-716b5f: var(--color-716b5f);
$color-73716b: var(--color-73716b);
$color-f6f5f2: var(--color-f6f5f2);
$color-dad3c6: var(--color-dad3c6);
$color-1d1d1d: var(--color-1d1d1d);
$color-999999: var(--color-999999);
$color-46433b: var(--color-46433b);
$color-eeebe5: var(--color-eeebe5);
$color-fbfaf8: var(--color-fbfaf8);
$color-c6bba7: var(--color-c6bba7);
$color-9b9383: var(--color-9b9383);

$color-white-alpha-60: var(--color-white-alpha-60);

$color-primary: var(--primary-color); // #1c1a18
$color-active: var(--active-color); // #9e8b69
$color-active-2: var(--active-color-2); // #c6bba7
$color-accent: var(--accent-color); // #716b5f
$color-accent-2: var(--accent-color-2); // #f6f5f2
$color-accent-3: var(--accent-color-3); // #dad3c6
$color-label: var(--label-color); // #73716b
$color-text: var(--text-color); // #181818

$color-header-background: var(--header-background-color); // #b2a388
$color-footer-text: var(--footer-text-color); // rgba(255, 255, 255, 0.6)
$color-section-background: var(--section-background-color); // #eeebe5
$color-breadcrumbs-active: var(--breadcrumbs-active-color); // #9b9383
$color-tab: var(--tab-color); // #999
$color-tab-active: var(--tab-active-color); // #1d1d1d

$color-logo-icon-main: var(--logo-icon-main-color); // #1c1a18
$color-logo-icon-line: var(--logo-icon-line-color); // #f5b430
$color-counter-icon: var(--counter-icon-color); // #46433b
$color-arrow-icon: var(--arrow-icon-color); // #fbfaf8
